body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 30px;
  text-align: center;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

a {
  display: inline-block;
  background: #111;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
